Repository CptnGreen/Corewar, pull requests merged in 2020-08, with the labels that each got.

#30 Cptngreen get name and comment
  .ccls
  .gitignore
  Makefile
  includes/corewar.h
  src/asm/chars_to_bytes.c
  src/asm/destroy_bot.c
  src/asm/get_name_and_comment.c
  src/asm/get_name_or_comment.c
  test/asm/bot_test1.s
  test/asm/test_chars_to_bytes.c
  test/asm/test_destroy_bot.c
  test/asm/test_get_name_and_comment.c
  test/asm/test_get_name_or_comment.c
  test/includes/asm/chars_to_bytes.h
  test/includes/asm/destroy_bot.h
Labels: asm, core, unit-test

#32 Продолжение работы над print_byte_code()
  includes/corewar.h
  includes/op.h
  src/asm/create_and_open_file_cor.c
  src/asm/print_byte_code.c
  src/asm/put_exec_code_size_in_cor.c
  src/asm/put_in_cor_magic_header_and_bot_name.c
Labels: asm, core, unit-test

#34 get_exec_code
  includes/corewar.h
  includes/op.h
  src/asm/atoi_for_asm.c
  src/asm/get_bytes_from_number.c
  src/asm/get_exec_code.c
  src/asm/get_instruction.c
  src/asm/new_label.c
  src/asm/op.c
  src/asm/skip_whitespaces.c
  test/.DS_Store
  test/asm/Car.s
  test/asm/test_get_exec_code.c
  test/includes/asm/get_exec_code.h
Labels: asm, core, unit-test

#40 working function init_arena and updated header with structures
  includes/corewar.h
  src/vm/init_arena.c
  test/includes/vm/init_arena.h
  test/vm/test_init_arena.c
Labels: core, unit-test, vm

#42 1. included <stdint.h>; 2. replaced init_bot()
  includes/corewar.h
  test/asm/test_get_exec_code.c
  test/asm/test_get_name_and_comment.c
  test/asm/test_get_name_or_comment.c
  test/vm/test_init_arena.c
Labels: bug, cleanup, unit-test
